 @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap'); 

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80vw;
}

.navbar {
    display: flex;
    height: 67px;
    font-family: 'Ubuntu', sans-serif;
}

.navbar li{
      list-style-type: none;
      margin: 0 12px;
}

.topleft {
    width: 50%;
}

.topright {
    width:50%;
}

.section1 {
    min-height: 100vh;
}

.section1 h1 {
    font-size:2rem;
    color: rgb(67, 66, 148);
}

.Logo{
    font-size: 1.3rem;
}

.topright .gymimg {
    width: 466px;
}

.section2 {
    padding: 73px;
}

.section2 h1 {
    font-size: 2.5rem;
}

.section2 p {

    padding: 0 8vw;
    text-align:center;
    
}

.plantable {
    display: flex;
    justify-content: center;
    align-items: center;
}




.section3 h1 {
    font-size: 2.3rem;
}

.section3 table {
    width: 100%;
    margin-bottom: 140px;
    margin-top: 20px;
    border-collapse: collapse;
}

.section3 table th {
    width: 23w;
    border-bottom: 2px solid black;
    padding: 15px 0;
}



.section3 table td {
    border-bottom: 2px solid black;
}

footer {
    padding: 23px;
    text-align: center;
}