.min-h-screen {
    min-height: 100vh;
}

.bg-red {
     background-color: red;
}

.mx-auto {
       margin-left: auto;
       margin-right: auto;
}

.flex {
     display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
     justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.font-bold {
    font-weight: bolder;
}

.flex-col {
    flex-direction: column;
}

.my-1 {
    margin-top:13px;
    margin-bottom:13px;
}

.my-2 {
    margin-top: 26px;
    margin-bottom: 26px;
}

.px-2 {
    padding-left: 13px;
    padding-right: 1;
}

.text-blue {
      color: rgb(29, 88, 214);
}

.btn {
    padding: 4px 12px;
    border: 2px solid rgb(233, 233, 245);
    border-radius:6px;
    cursor: pointer;
    color: white;
    background-color: rgb(29,88, 214);
}

.overflow-x-hidden {
    overflow-x: hidden;    
}

.dumbellimg {
    width:283px;
}

.text-center {
    text-align:center;
}

.box {
    padding:8px 0;
    margin:12px 22px;
    min-width: 23vw;
    border: 2px solid rgb(93, 92, 160);
    border-radius: 3px;
    text-align:center;
}

.box h2 {
    font-size:2rem;
    padding: 15px;
}

.highlighted {
    font-size: 1.5rem;
    font-weight: bold;
}

.box ul {
    list-style: none;
}

.box ul li {
    margin: 12px 2px;
}